<div class="col-md-3 col-sm-3">
    <h3 class="far fa-list-alt" style="text-align: left;"> <%=t('manuals.show.content.steps_menu')%></h3>
    <p>
    <% @manual.steps.order(@manual.steps.count).each_with_index do |step, index| %> 
    	<h5 class="show_step"> 
    		<a href="<%=@manual.id%>?page=<%=(index +1 )%>" class="menu-step"><%= " " + step.count.to_s + ") " + step.title %></a>
    	</h5>
    <% end %> 
    </p>
    <p>
        <h5 class='apple_pagination' style="font-size: 14px; border: 1px solid #5DB15A;"><%= will_paginate @steps, :page_links => false, :previous_label => t('manuals.show.content.prev_step'), :next_label => t('manuals.show.content.next_step')%></h5>
    </p>
</div>