 <li class="dropdown pc-menu link_nav">
    <a id="language-settings" class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span id="language-name"><%=t('layouts.nav.collapsible_elements.language')%></span>
      <span class="caret"></span>
    </a>
  <ul class="dropdown-menu" role="menu">
    <li class="nav-item<%= "active" if I18n.locale == :ru %>">
      <%= link_to t('layouts.nav.collapsible_elements.russian'), { locale: :ru }, class: "nav-link" %>
   </li>
   <li class="nav-item<%= "active" if I18n.locale == :en %>">
    <%= link_to t('layouts.nav.collapsible_elements.english'), { locale: :en }, class: "nav-link" %>
   </li>
  </ul>
</li>

<li class="dropdown pc-menu">
        <a id="entering-settings" class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span id="enter-name"><%=t('layouts.nav.collapsible_elements.non_signed_in_links.enter')%></span>
          <span class="caret"></span>
        </a>

  <ul class="dropdown-menu pc-menu" role="menu">
    <li class="link_nav pc-menu"><%= link_to t('layouts.nav.collapsible_elements.non_signed_in_links.login'), login_path %></li>
    <li class="link_nav pc-menu"><%= link_to t('layouts.nav.collapsible_elements.non_signed_in_links.sign_up'), signup_path %></li>
  </ul>
</li>

 

 <li class="dropdown mobile-menu mobile-menu-language">
    <a id="language-settings" class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span id="language-menu"><%=t('layouts.nav.collapsible_elements.language')%></span>
      <span class="caret"></span>
    </a>
  <ul class="dropdown-menu dropdown-language-menu" role="menu">
    <li class="nav-item<%= "active" if I18n.locale == :ru %>">
      <%= link_to t('layouts.nav.collapsible_elements.russian'), { locale: :ru }, class: "nav-link" %>
   </li>
   <li class="nav-item<%= "active" if I18n.locale == :en %>">
    <%= link_to t('layouts.nav.collapsible_elements.english'), { locale: :en }, class: "nav-link" %>
   </li>
  </ul>
</li>

<li class="mobile-menu">
  <%= link_to t('layouts.nav.collapsible_elements.non_signed_in_links.login'), login_path %>
</li>

<li class="mobile-menu">
  <%= link_to t('layouts.nav.collapsible_elements.non_signed_in_links.sign_up'), signup_path %>
</li>

 
