<li id="Arts">
  <%= link_to "#" do %>
    <i class="fas fa-paint-brush" aria-hidden="true"></i> Arts
  <% end %>
</li>

<li id="Crafts">
  <%= link_to "#" do %>
    <i class="fas fa-cut" aria-hidden="true"></i>Crafts
  <% end %>
</li>

<li id="Sports">
  <%= link_to "#" do %>
    <i class="fas fa-bicycle" aria-hidden="true"></i>Sports
  <% end %>
</li>

<li id="Sciences">
  <%= link_to "#" do %>
    <i class="fas fa-rocket" aria-hidden="true"></i>Sciences
  <% end %>
</li>

<li id="Development">
  <%= link_to "#" do %>
    <i class="fas fa-desktop" aria-hidden="true"></i>Development
  <% end %>
</li>

<li id="Business">
  <%= link_to "#" do %>
    <i class="fas fa-hand-holding-usd" aria-hidden="true"></i>Business
  <% end %>
</li>

<li id="Other">
  <%= link_to "#" do %>
    <i class="far fa-bookmark" aria-hidden="true"></i>Other
  <% end %>
</li>