
<section class="profile-block">
  <div class="container container-profile" style="margin-top: 4%;">
    <div class="row">
    	<h2 class="text-center"><%= t("users.show.profile")%></h2>
    	<div class="col-md-6 profile-sec" id="profile-info">
    		<h3 class="text-center"> <%= t("users.show.user_info")%> </h3>
    		<hr>
    		<div class="row">
    			<div class="col-md-6 col-sm-6 col-xs-4">
    				<h4 class="h4-profile h4-profile-field"> <%= t("users.show.name")%> </h4>
    			</div>
	    		<div class="col-md-6 col-sm-6 col-xs-8">
	    			<h4 class="h4-profile"> <%= @user.name %> </h4>
	    		</div>	
    		</div>
    		<div class="row">
    			<div class="col-md-6 col-sm-6 col-xs-4">
    				<h4 class="h4-profile h4-profile-field"> <%= t("users.show.surname")%> </h4>	
    			</div>
	    		<div class="col-md-6 col-sm-6 col-xs-8">
	    			<h4 class="h4-profile"> <%= @user.surname %> </h4>
	    		</div>	
    		</div>
    		<div class="row">
    			<div class="col-md-6 col-sm-6 col-xs-4">
    				<h4 class="h4-profile h4-profile-field"> <%= t("users.show.email")%> </h4>	
    			</div>
	    		<div class="col-md-6 col-sm-6 col-xs-8">
	    			<h4 class="h4_profile"> <%= @user.email %> </h4>
	    		</div>	
    		</div>
    		<div class="row">
    			<div class="col-md-6 col-sm-6 col-xs-4">
    				<h4 class="h4-profile h4-profile-field"> <%= t("users.show.role")%> </h4>	
    			</div>
	    		<div class="col-md-6 col-sm-6 col-xs-8">
	    			<h4 class="h4-profile"> <%= @user.role %> </h4>
	    		</div>	
    		</div>
    	</div>
    	<div class="col-md-6 profile-sec">
    		<h3 class="text-center"> <%= t("users.show.achievements")%> </h3>
    		<hr>
            <%= render has_achievements_table_partial_path %>
    	</div>
			
     </div>
    <%= render has_manuals_table_partial_path %> 
  </div> 
</section>

