<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-7">
            <%= render 'pages/index/search_form' %>    
        </div>
        <div class="col-sm-5">
            <%= render create_new_manual_partial_path %>
        </div>
    </div>
    
	<div class="row">
		<div class="col-sm-3" id="side-menu">
			<ul id="links-list" style="padding-left: 5px;">
                <%= render all_categories_button_partial_path %>
                <hr>
    			<%= render 'pages/index/side_menu/categories' %>
  			</ul>	
		</div>
		<div class="col-sm-9" id="main-content">
			<%= render @manuals %>	
            <%= render no_manuals_partial_path %>
		</div>
        <div class="infinite-scroll">
            <%= will_paginate @manuals %>
      </div>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function () {
    var offset = $('#side-menu').offset();
    var topPadding = 40;
    var win_width = window.innerWidth;
    // alert(win_width);
    if (win_width >= 768){
    	$(window).scroll(function() {
        if (($(window).scrollTop() > offset.top) && (window.innerWidth >= 768)) {
            $('#side-menu').stop().animate({marginTop: $(window).scrollTop() - offset.top + topPadding});
        }
        else {
            $('#side-menu').stop().animate({marginTop: 0});
        }
    	});	
    }else{
    	$('#side-menu').stop().animate({marginTop: 0});
    }
    
});
</script>