<div id="single-manual-content" class="container single-manual-content">
  <div class="row" style="background-color: white; padding-top: 5px;">
    <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1">
      <div class="col-md-8">
        <div class="posted-by">Posted by <%= @manual.user.name %></div>
      </div>
      <div class="col-md-4">
        <%= link_to "Delete", {action: :destroy}, method: :delete, :class=>'btn btn-danger' %>
      </div>
     </div>
  </div>
  <div class="row" style="background-color: white;">
    <h2 style="color: #047000; font-size: 25px;" class="text-center"><%= @manual.title %></h2>
  </div>

  <div id="step-field">
  <div class="row" style="background-color: white;" id="step-target" >
    <%= render 'manuals/show/content' %>
    <div class="col-md-8 col-sm-8"><%= render @steps %></div>
  </div>
  <div class="row" style="padding-top: 20px; background-color: white;">
    <div class="col-md-10 col-md-offset-1 infinite-scroll">
        <%= will_paginate @steps, :class => "anchor_step" %>
    </div>
  </div>
  </div>

  <div id="main-field">
  <div class="row" style="min-height: 600px; background-color: white;">
    <div class="col-md-10 col-md-offset-1">
      <h3>Description</h3>
      <hr>
      <p><%= @manual.description*40 %></p>
      <hr>
      <div class="manual-show-img">
        <%= link_to image_tag @manual.img_url, class: 'img-responsive single-manual-img', :alt => "ManualImage" %>
      </div>
    </div>
  </div>
  </div>
  
</div>

<script type="text/javascript">
  $(function(){

    // $("#show_manual_info").click(function(){
      
    //   if ($("#main-field").css('display') == none){
    //     $("#main-field").css('display','block');
    //   }else{
    //     $("#main-field").css("display", "none;");
    //   }  
    // });
    
 });
</script>
