<section class="show-manual-block">
  <div class="container container-show-manual" style="margin-top: 2%;">
    <div class="row">
      <div class="col-md-12 show-manual-sec show-manual">
        <div id="single-manual-content" class="single-manual-content" style="padding-left: 0px !important;">
          <div class="row">
            <%= render 'manuals/show/manual_panel'%>
          </div>
          <div class="row">
             <div class="col-md-12 col-sm-12">
              <h2 class="text-center" style="text-decoration: underline;"><%= @manual.title %></h2>
            </div>  
          </div>
           <div class="row" id="step-field">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div style="background-color: white;" id="step-target" >
                  <%= render has_content_path %>
                  <div class="col-md-9 col-sm-9"><%= render @steps %></div>
                </div>  
            </div>
          </div>
          <div class="row" id="main-field">
            <div style="min-height: 800px;">
              <div class="col-md-10 col-md-offset-1">
                <h2  style="border: 1px solid #047000; border-radius: 20px; text-align: center; padding: 5px;"><%=t('manuals.show.about')%></h2>
                <p><%= @manual.description*60 %></p>
                <hr>
                <div class="manual-show-img">
                  <%= link_to image_tag @manual.img_url, class: 'img-responsive single-manual-img', :alt => "ManualImage" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



