<section class="login-block">
  <div class=" container container-log" style="margin-top: 4%;">
    <div class="row">
      <div class="col-md-4 login-sec"">
        <h2 class="text-center">Log in now</h2>
          <%= bootstrap_form_for(resource, 
                         as: resource_name, 
                         url: session_path(resource_name)) do |f| %>

              <%= f.email_field :email, 
                                autofocus: true, 
                                class: 'form-control login_input', 
                                placeholder: 'email' %>

              <%= f.password_field  :password, 
                                    autocomplete: "off", 
                                    class: 'form-control login_input',
                                    placeholder: 'password' %>


            <% if devise_mapping.rememberable? -%>
               <%= f.check_box :remember_me %>
            <% end -%>
            <%= f.submit "Log in", class: 'form-control btn-login' %>
        <% end %>
        <div class="devise_links">
          <%= render "devise/shared/links" %> 
        </div>
        
      </div>
       <div class="col-md-8 banner-sec">
          <img class="img-responsive" src="https://pp.userapi.com/c844521/v844521548/c0ae0/V8usUw79xgs.jpg" style="border-radius: 10px;" alt="">
      </div>
    </div> 
  </div>
</section>




 <!-- <section class="login-block">
        <div class="container" style="margin-top: 8%;">
            <div class="row" style="height: 500px;">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login Now</h2>
                    <form class="login-form">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        <input type="text" class="form-control" placeholder="">

                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="">
                      </div>


                        <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          <small>Remember Me</small>
                        </label>
                        <button type="submit" class="btn btn-login float-right">Submit</button>
                      </div>

                    </form>
                </div>
                <div class="col-md-8 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                         <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                          <img class="d-block img-fluid car_img_size" src="images/4.jpg" alt="First slide">
                          <div class="carousel-caption d-none d-md-block" style="padding-bottom: 56.9%;">
                            <div class="banner-text">
                                <h2 style="color: #DE6262;">How to make origami boat?</h2>
                                <p style="color: #DE6262;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, sequi dolorem! Sequi reiciendis, suscipit a. Quisquam, unde deserunt pariatur odio.</p>
                            </div>  
                      </div>
                        </div>
                        <div class="carousel-item">
                          <img class="d-block img-fluid car_img_size" src="images/2.jpg" alt="First slide">
                          <div class="carousel-caption d-none d-md-block">
                            <div class="banner-text">
                                <h2>This is Heaven</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                            </div>  
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 -->
