<section class="login-block">
  <div class=" container container-log" style="margin-top: 4%;">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Log in now</h2>
          <%= bootstrap_form_for(resource, 
                         as: resource_name, 
                         url: session_path(resource_name)) do |f| %>

              <%= f.email_field :email, 
                                autofocus: true, 
                                class: 'form-control login_input', 
                                placeholder: 'email' %>

              <%= f.password_field  :password, 
                                    autocomplete: "off", 
                                    class: 'form-control login_input',
                                    placeholder: 'password' %>


            <% if devise_mapping.rememberable? -%>
               <%= f.check_box :remember_me %>
            <% end %>
            <%= f.submit "Log in", class: 'form-control btn-login' %>
        <% end %>
        <div class="row text-center">
          <%= link_to "", user_vkontakte_omniauth_authorize_path, :class=>'btn btn-lg btn-grey fab fa-vk' %>
          <%= link_to "", user_facebook_omniauth_authorize_path, :class=>'btn btn-lg btn-grey fab fa-facebook-f' %>
          <%= link_to "", "#", :class=>'btn btn-lg btn-grey fab fa-twitter' %>
        </div>
        <div class="devise_links">
          <%= render "devise/shared/links" %> 
        </div>
        
      </div>
       <div class="col-md-8 banner-sec">
          <img class="img-responsive manual_img" src="https://pp.userapi.com/c844521/v844521548/c0ae0/V8usUw79xgs.jpg" alt="">
      </div>
    </div> 
  </div>
</section>

