<%= bootstrap_form_for(resource, 
               :as => resource_name, 
               :url => registration_path(resource_name),
                html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    
    <%= f.text_field :name, 
               autocomplete: "name",
               placeholder: t("devise.registrations.edit.name_placeholder"), 
               class: 'login_input' %>
    <%= f.text_field :surname, 
               autocomplete: "surname",
               placeholder: t("devise.registrations.edit.surname_placeholder"), 
               class: 'login_input' %>         
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= f.submit t("devise.registrations.edit.update_button"), class: 'btn-login' %>  
      </div> 
    </div>                                        
<% end %>
